<div>
    <app-nav></app-nav>
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Bem Vindo!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Sistema para cotrole de finanças pessoais. Organize sua vida financeira. 
        </mat-card-subtitle>
        <mat-card-subtitle class="graficos">
            Confira esses gráficos com suas métricas atuais.
        </mat-card-subtitle>
        <div class="holder">
            <img class="grafico1" src="assets/grafico1.png" alt="gráfico renda x despesas">
            <img class="grafico2" src="assets/grafico2.png" alt="gráfico despesa planejada">    
        </div>
    </mat-card>
   
   
</div>

