<div class="fundo">

    <div class="latera-direita" *ngIf="!isCadastro && !isCadastroCategoria" >
      <h1 class="login-text">
        Renda
      </h1>
      <div scope="row" class="botoes-alinhados">
        <button (click)="setIsCadastro()" class="btn btn-primary pull-left botao1">+ Nova renda</button>
        <button (click)="setIsCategoria()" class="btn btn-primary pull-right">+ Nova categoria</button>
      </div>
      <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">
                  <span>Data</span>

                </th>
                <th scope="col">
                  <span>Valor</span>

                </th>
                <th scope="col">
                  <span>Descrição</span>

                </th>
                <th scope="col">
                  <span>Categoria</span>

                </th>
                <th scope="col">

                </th>
                <th scope="col">

                </th>
                <th scope="col">

                </th>
              </tr>
            </thead>
          <tbody *ngIf="rendas">
            <tr scope="row" *ngFor="let renda of rendas">
              <td>{{renda.data}}</td>
              <td>{{renda.valor}} R$</td>
              <td>{{renda.descricao}}</td>
              <td>{{renda.categoria}}</td>
              <td></td>
              <td></td>
              <div class="btn-group flex-btn-group-container">
                <div class="col-8">
                  <td>
                    <span class="material-icons">visibility</span>
                  </td>
                  <td><span class="material-icons deletar">delete</span></td>
                </div>
              </div>

            </tr>


          </tbody>



        </table>



      </div>



    </div>

    <div class="latera-direita" *ngIf="isCadastro" >
      <h1 class="login-text" >
          Adicionar renda
      </h1>
      <div class="label-float">
        <input class="input" placeholder="Data"/>
        <label for="">Data</label>
      </div>
      <div class="label-float">
        <input class="input" placeholder="Valor"/>
        <label for="">Valor</label>
      </div><div class="label-float">
      <input class="input" placeholder="Descrição"/>
      <label for="">Descrição</label>
    </div>
      <div class="label-float">
        <input class="input" placeholder="Categoria"/>
        <label for="">Categoria</label>
      </div>
      <button class="button">
        Adicionar
      </button>
      <button (click)="setIsCadastro()" class="button-voltar">Voltar</button>
    </div>

    <div class="latera-direita2" *ngIf="isCadastroCategoria" >
      <h1 class="login-text" >
        Adicionar categoria
      </h1>
      <div class="label-float">
        <input class="input" placeholder="Categoria"/>
        <label for="">Categoria</label>
      </div>

      <button class="button">
        Adicionar
      </button>
      <button (click)="setIsCategoria()" class="button-voltar">Voltar</button>
    </div>
</div>
