<div class="fundo">
    <div class="lateral-esquerda">
        <h1>Finanças 4.0</h1>
        <h4>Organize sua vida finançeira</h4>
    </div>
    <div class="latera-direita" *ngIf="!isCadastro" >
        <h1 class="login-text">
            Login
        </h1>
        <input class="input" placeholder="E-mail"/>
        <input class="input" />
        <button class="button">
            Entrar
        </button>
        <button (click)="setIsCadastro()" class="button-cadastro">Cadastre-se</button>
    </div>
    <div class="latera-direita" *ngIf="isCadastro" >
        <h1 class="login-text">
            Cadastrar-se
        </h1>
        <input class="input" placeholder="E-mail"/>
        <input class="input" />
        <input class="input" />
        <input class="input" />
        <button class="button">
            Cadastrar
        </button>
        <button (click)="setIsCadastro()" class="button-voltar">Voltar</button>
    </div>
</div>