<div class="fundo">
    <div class="lateral-esquerda">
        <h1>Finanças 4.0</h1>
        <h4>Organize sua vida finançeira</h4>
        <img src="../../assets/fundo.jpeg" alt="Imagem Fundo">
    </div>
    <div class="latera-direita" *ngIf="!isCadastro" >
        <h1 class="login-text">
            Login
        </h1>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="email"/>
            <label for="">E-Mail</label>
        </div>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="password"/>
            <label for="">Senha</label>
        </div>
        <button class="button">
            Entrar
        </button>
        <button (click)="setIsCadastro()" class="button-cadastro">Cadastre-se</button>
    </div>
    <div class="latera-direita" *ngIf="isCadastro" >
        <h1 class="login-text" >
            Cadastrar-se
        </h1>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="email"/>
            <label for="">E-Mail</label>
        </div>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="email"/>
            <label for="">Repetir E-mail</label>
        </div>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="password"/>
            <label for="">Senha</label>
        </div>
        <div class="label-float">
            <input class="input" placeholder="E-mail" type="password"/>
            <label for="">Repetir Senha</label>
        </div>
        <button class="button">
            Cadastrar
        </button>
        <button (click)="setIsCadastro()" class="button-voltar">Voltar</button>
    </div>
</div>
