<div class="fundo">
    <div class="lateral-esquerda">
        <h1>Finanças 4.0</h1>
        <h4>Organize sua vida finançeira</h4>
        <img src="../../assets/fundo.jpeg" alt="Imagem Fundo">
    </div>
    <div class="latera-direita" *ngIf="!isCadastro" >
        <h1 class="login-text">
            Login
        </h1>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="email" [(ngModel)]="email" />
            <label for="">E-Mail</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid" >
            E-mail obrigatorio
        </span>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="password" [(ngModel)]="password" />
            <label for="">Senha</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid">
            Senha obrigatoria
        </span>
        <button (click)="checkFormValid()" class="button">
            Entrar
        </button>
        <button (click)="setIsCadastro()" class="button-cadastro">Cadastre-se</button>
    </div>
    <div class="latera-direita" *ngIf="isCadastro" >
        <h1 class="login-text" >
            Cadastrar-se
        </h1>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="email" [(ngModel)]="email2"/>
            <label for="">E-Mail</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid" >
            E-mail obrigatorio
        </span>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="email" [(ngModel)]="email3"/>
            <label for="">Repetir E-mail</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid" >
            favor repetir o e-mail
        </span>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="password" [(ngModel)]="password2"/>
            <label for="">Senha</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid" >
            Senha obrigatorio
        </span>
        <div class="label-float">
            <input [class]="getInputClass()" placeholder="E-mail" type="password" [(ngModel)]="password3"/>
            <label for="">Repetir Senha</label>
        </div>
        <span class="error-message" *ngIf="!isFormValid" >
            Favor repetir a senha.
        </span>
        <button class="button" (click)="checkFormValid()">
            Cadastrar
        </button>
        <button (click)="setIsCadastro()" class="button-voltar">Voltar</button>
    </div>
</div>
